@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-6">
        <section>
            <form id="account" method="post">
                <h4>Log in</h4>
                <hr />
                <div>
                    <h4>Demo Comapny</h4>
                    <button class="btn btn-group-sm btn-primary mb-3" onclick="demoAdmin()">Demo Admin</button>
                    <button class="btn btn-group-sm btn-primary mb-3" onclick="demoPM()">Demo Project Manager</button>
                    <button class="btn btn-group-sm btn-primary mb-3" onclick="demoDeveloper()">Demo Developer</button>
                    <button class="btn btn-group-sm btn-primary mb-3" onclick="demoSubmitter()">Demo Submitter</button>
                </div>
                <hr />










                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input id="email" asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input id="password" asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />


    <script>
        demoAdmin = () => {
            let email = document.getElementById('email').value = "demoadmin@twoishday.com";
            let password = document.getElementById('password').value = "Abc&123!";
        }
        demoPM = () => {
            let email = document.getElementById('email').value = "demopm@twoishday.com";
            let password = document.getElementById('password').value = "Abc&123!";
        }
        demoDeveloper = () => {
            let email = document.getElementById('email').value = "demodev@twoishday.com";
            let password = document.getElementById('password').value = "Abc&123!";
        }
        demoSubmitter = () => {
            let email = document.getElementById('email').value = "demosub@twoishday.com";
            let password = document.getElementById('password').value = "Abc&123!";
        }
    </script>
}
